*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    margin: 0 auto;
    padding: 0;
    max-width: 2100px;
}


.header-block {    
    position: relative;
}









/* <----------------------HEADER-----------------------------> */
.header-block-flex,
.header-block-fixed{
    display: none;
}
   /* <-----------HEADER-BLOCK-NAVBAR-------------> */

   .header-block-navbar{
    position: relative;
    z-index: 999;
    background: #333;
    width: 100vw;
    padding:15px 0 0 0;    
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;  
    justify-content: center;  
   }


   .header-block-navbar-inner{
    display: flex;
    align-items: center;    
    width: 90%;
    margin: auto;
    justify-content: space-between;
   }

   .header-block-navbar-logo img{
        max-width: 50px;
        height: 50px;
   }


   .header-block-navbar-other{
    display: flex;
    align-items: center;
    gap: 20px;
   }







.header-navbar-other-lang {
    position: relative;
    width: 40px;
    font-family: ",Montserrat", sans-serif;
    font-weight: 600;    
}

.dropdown-label {
    display: block;
    background-color: #4E4E4E;
    color: #24B8AF;
    border-radius: 8px; 
    padding: 5px 0;   
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

.options-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333333;
    border-radius: 12px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

.options-dropdown .option {
    padding: 8px 12px;
    color: #24B8AF;
    text-align: center;
    cursor: pointer;
}

.options-dropdown .option:hover {
    background-color: #555;
}

.options-dropdown.show {
    max-height: 200px; 
    opacity: 1;
    transform: scaleY(1);
}



.header-navbar-other-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-other-contact-location a,
.header-other-contact-email a,
.header-other-contact-phone a{
    color: #24B8AF;
    font-size: 18px;
    text-decoration: none;
}



.header-navbar-menu input{
    display: none;
}

.header-navbar-menu label span{    
    display: block;
    background: white;
    width: 23px;
    height: 2px;
}


.header-navbar-menu label span:nth-child(2){
    margin-top: 5px;
}

.header-navbar-menu label span:nth-child(3){
    margin-top: 6px;
}



.header-navbar-menu-list{
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 200%;
    top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 15px;
    list-style: none;
    transition: 0.5s all linear;
    background-color: rgba(33, 33, 33, .9);
}


.header-navbar-menu-list li a{
 font-family: 'Montserrat',sans-serif;
 font-weight: 700;
 color: white;
 text-decoration: none;
 line-height: 40px;
}

.header-navbar-menu-input:checked ~ .header-navbar-menu-list{
    right: 0px;
}



/* <----------------CONTACTS---------------------> */


.contacts{
    background: #222222;
    padding: 20px 10px;
}

.contacts-title{
    font-family: "Montserrat", sans-serif;
    color:#24B8AF;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}

.contacts-block-flex{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contacts-block-form{
    padding: 25px 0;
}
.contacts-block-form-title{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: white;
    text-align: center;    
}


.contacts-block-form form{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contacts-form-name,
.contacts-form-email,
.contacts-form-phone,
.contacts-form-text{
    background: #494949;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-family: 'Montserrat',sans-serif;
    font-family: 500;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
}

.contacts-form-name::placeholder,
.contacts-form-email::placeholder,
.contacts-form-phone::placeholder,
.contacts-form-text::placeholder {
    font-weight: 700;    
    color: #939393;
}

.contacts-form-text{
    height: 200px !important;
    width: 100% !important;
    padding: 10px;
}

.contacts-form-btn{
    display: block;
    background: #24B8AF;
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    width: 180px;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
    border: none;
}


.contacts-form-btn-map{
    display: block;
    background: #222222;
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    width: 290px;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
    border: none;
}



.contacts-block-numbers-title{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: white;
}


.contacts-block-numbers-list{
    list-style: none;
    text-align: center;
    margin: 15px 0;
    line-height: 40px;
}

.contacts-block-numbers-list li{
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #787878;
}

.contacts-block-numbers-list a{
    text-decoration: none;
    color: #787878;
}

.contacts-block-numbers-list a span{
    color: #383838;
}






/* <----------------IDEA---------------------> */


.idea{
    background: #222222;
    padding: 0 10px 50px 10px;
}

.idea-title{
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #24B8AF;
    text-align: center;
}

.idea-title h1{
        margin: 0;
}

.idea-block{
    margin: 30px 0;
    padding:20px 0px;
    background-color:#494949;
    border-radius: 15px;
}
.idea-block-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.idea-block-flex-email,
.idea-block-flex-numbers{
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.idea-block-flex-email a,
.idea-block-flex-numbers  a{
    color: white;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.idea-block-flex-navi{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.idea-block-flex-navi button{
    width: 180px;
    height: 50px;
    border: none;
    font-family: 'Montserrat',sans-serif;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius:12px;
    transition: 0.3s all linear;
}

.idea-block-flex-navi button:nth-child(1){
    background: #24B8AF;    
}
.idea-block-flex-navi button:nth-child(1):hover{
    box-shadow: 0 0 10px #24B8AF !important;
}

.idea-block-flex-navi button:nth-child(2){
    background: #222222;
}

.idea-block-flex-navi button:nth-child(2):hover{
    box-shadow: 0 0 10px #fff !important;
}





/*<---------------------FOOTER------------------------>  */




.footer{
    background: #292929;
    
}

.footer .container{
    padding: 0 15px;
}

.footer-block{
    padding:30px 10px;
}

.footer-block-social-list{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.footer-block-links{
    margin: 30px 0;
    padding: 0 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 20px;

}

.footer-block-links-list{
    list-style: none;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.footer-block-links-list a{
    color: #939393;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;    
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s all linear;
}

.footer-block-links-list a:hover{
    color: #24B8AF;
}


.footer-block-social-list a svg{
    transform: scale(1);
    transition: 0.5s all linear
}
.footer-block-social-list a:hover svg{
    transform: scale(1.1);   
}

.footer-block-social-list a svg path{
    transition: 0.5s all linear;
}
.footer-block-social-list a:hover svg path{
    fill: #2a7f6a;
}

.footer-down{
    background: #333333;
}

.footer-bottom{
    
    padding:20px 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
}

.footer-bottom-name{
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}

.footer-bottom-nav-map{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    width: 300px;
    background: #494949;
    border-radius: 8px;
    height: 40px;
    align-items: center;
    gap: 5px;
}

.footer-nav-map-icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #24B8AF;
    text-decoration: none;
    background: #222222;
    border-radius: 8px;
    width: 32px;
    height: 32px;
}

.footer-nav-map-text{
    color: #939393;
    font-weight: 700;
    font-family: 'Montserrat',sans-serif;
    width: 170px;
}

.footer-nav-map-text p{
    white-space: nowrap;     
    overflow: hidden;       
    text-overflow: ellipsis; 
    width: 100%;
}

.footer-nav-map-link{
    background: #222222;
    height: 32px;
    width: 100px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
}
.footer-nav-map-link a{
    color: #24B8AF;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;    
}



@media only screen and (min-width:768px){
    /* <----------------HEADER(768)-----------------> */

    .container{
        padding: 0 30px;
    }
    .contacts-form-btn-map{
        width: 100%;
    }
    

    /* <----------------CONTACTS(768)-----------------> */

    .contacts-title{
        text-align: left;
    }

    .contacts-block-flex{
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding: 25px 0;
    }
    .contacts-block-form{
        padding: 0;
    }




    /* <----------------IDEA(768)-----------------> */
    
    .idea-block-flex{
        padding: 0 15px;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }


    /* <----------------FOOTER(768)-----------------> */

    .footer-block{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: start;
        padding: 30px 0;
    }

    .footer-block-social-list{
        padding: 0;
    }

    .footer-block-links{
        flex-direction: row;
        margin: 0;
    }

    .footer-bottom{
        flex-direction: row;
        padding: 25px 30px;
        justify-content: space-between;
    }
    .footer-bottom-nav-map{
        width: 400px;
    }
    .footer-nav-map-text{
        width: 250px;
    }
}


@media only screen and (min-width:1024px){
    /* <------------------HEADER------------------------------> */
 
       /* <--------HEADER-FIXED(FLEX)------------> */
       .header-block-flex,
       .header-block-fixed{
           display: block;
       }

    .contacts-form-btn-map{
        width: 85px;
    }
    .footer-block-links {
        margin: 0 60px;
       }
       .footer-block-social-list {
        margin: 0 65px;
        gap: 10px;
       }
   
   
       .header-block-flex{    
           display: flex;
           align-items: center;
           justify-content: space-between;      
       }
   
   
       .header-block-flex-logo{
           position: fixed;
           top: 0;
           left: 0;
           z-index: 9;            
           padding:10px 20px;        
           margin-left: 70px;
           transition: background 0.5s ease-in-out;
       }
   
       .header-block-flex-logo a{
           display: flex;
           text-decoration: none;
           align-items: center;
           justify-content: center;
           gap: 20px;
       }
       .header-block-flex-logo img{
           width: 60px;
           height: 60px;
       }
   
       .header-block-flex-logo p{
           font-family: 'Orbitron',sans-serif;
           font-size: 18px;
           color: white;
           font-weight: 600;
       }
   
       .header-block-flex-number{
           position: fixed;
           top: 0;
           right: 0;
           z-index: 9;
           height: 80px;
           display: flex;
           align-items: center;
           margin-right: 80px;
           padding:10px 20px;   
           transition: background 0.5s ease-in-out;
   
       }
       .header-block-flex-number a{
           text-decoration: none; 
           color: white;               
           font-family: 'Montserrat',sans-serif;
           font-weight: 700;
           font-size: 20px;
       }
   
   
       .header-block-fixed{
           position: fixed;
           left: 0;
           height: 100vh;
           top: 0;
           bottom: 0;
           width: 70px;
           z-index: 9;
           display: flex;
           align-items: center;
           justify-content: center;
           padding:0 10px ;
           background: none;
           transition: background 0.5s ease-in-out;
           border-right:1px solid rgba(255, 255, 255, .1);
       }
   
       .header-fixed-menu-input{
           display: none;
       }


       .header-block-fixed-menu label {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
   
       .header-block-fixed-menu label span{
           display: block;
           width: 25px;
           margin: auto;
           height: 2px;
           background: white;
       }
   
       .header-block-fixed-menu label p{
           color: white;
           text-align: center;
           font-family: 'Montserrat',sans-serif;
       }
   
       .header-fixed-menu-link{
           position: absolute;
           rotate: -90deg;
           bottom: 70px;
           left: 0;
           width: 100%;
       }
       .header-fixed-menu-link a{
           color: white;
           font-family: 'Montserrat',sans-serif;
           text-decoration: none;
           font-weight: 600;
           text-transform: uppercase;
       }
   
       .header-block-fixed-menu label span:nth-child(2){
           margin-top: 6px;
       }
   
       .header-block-fixed-menu label span:nth-child(3){
           margin-top: 6px;
       }
   
   
       .header-fixed-menu-list{
           position: fixed;
           background: rgba(33, 33, 33, .9);
           padding-left: 50px;
           width: 20%;
           height: 100%;
           left: -100%;
           top: 0;     
           margin: 0;
           bottom: 0;                   
           display: flex;
           flex-direction: column;
           justify-content: center;
           z-index: 10;
           list-style: none;
           transition: 0.5s ease-in-out;
       }
   
       .header-fixed-menu-list a{        
           font-family: 'Montserrat', sans-serif;
           font-weight: 700;
           color: white;
           text-decoration: none;
           line-height: 50px;
       }

       .header-fixed-menu-list a{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: white;
        text-decoration: none;
        line-height: 50px;
        transition: 0.5s ease-in-out;
    }
    .header-fixed-menu-list a::before{
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        background: white;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-radius: 50%;
        opacity: 0;
        transition: 0.5s ease-in-out ;
    }

    .header-fixed-menu-list a:hover{
        padding-left: 15px;
    }

    .header-fixed-menu-list a:hover::before {
        opacity: 1;
    }
   
       .header-fixed-menu-input:checked ~ .header-fixed-menu-list{
           left:71px;
       }    
   
       .header-block-right-content{
           position: fixed;
           transition: background 0.5s ease-in-out;
           right: 0;
           top: 0;
           bottom: 0;
           border-left: 1px solid rgba(255, 255, 255, .1);
       }
   
   
       .header-right-content-lang,
       .header-right-content-social{
           display: flex;
           flex-direction: column;
           align-items: center;
           gap: 15px;        
           padding:20px;
           border-bottom: 1px solid rgba(255, 255, 255, .1);
       }
   
       .header-right-content-lang a{
           text-decoration: none;
           color: white;
           font-family: 'Montserrat',sans-serif;
           font-weight: 700;
           font-size: 18px;
           transition: 0.5s all linear;
       }
   
   
       
       .header-right-content-social a{
           text-decoration: none;
           color: white;
           font-size: 20px;
           transition: 0.5s all linear;
   
       }
   
       .header-right-content-lang a:hover,
       .header-right-content-social a:hover{
           color: #24B8AF !important;
           transform: scale(1.2);
       }
   
       .header-right-content-email{
           margin-top: 20px;
           padding: 20px;
           transition: 0.3s all linear;
           border-top: 1px solid rgba(255, 255, 255, .1);
           border-bottom: 1px solid rgba(255, 255, 255, .1);
       }
   
       .header-right-content-email:hover{
           background: #333;
       }
       .header-right-content-email:hover svg{
           fill: #24B8AF !important;
       }
   
       .header-right-content-email svg{ 
           width:40px;
           height: auto;
           fill: white;
           transition: 0.3s all linear;
       }
   
   
   
   
   
   
   
       /* <--------HEADER-NAVBAR------------> */
       .header-block-navbar{
           display: none;
       }
  
    /* <----------------CONTACTS(1024)---------------------> */  


    .contacts{
        padding:100px 0 20px 0;        
    }

    .contacts-title{
        width: 800px;
        margin:0 auto 30px auto;
    }

    .contacts-block-flex{
        justify-content: space-around;
    }

    .contacts-block-numbers-title{
        text-align: start;
    }
    .contacts-block-numbers-list{
        text-align: start;
    }


    .contacts-form-name,
    .contacts-form-email,
    .contacts-form-phone,
    .contacts-form-text{
        max-width: 500px;
    }



     /* <----------------HEADER(1440)---------------------> */  
     .footer-block{
        max-width: 1070px;
        margin: auto;
        justify-content: space-between;
    }

    .footer-block-links{
        padding: 0;
        gap: 60px;
    }

    .footer-bottom{
        max-width: 1070px;
        margin: auto;
        
    }

}



@media only screen and (min-width:1440px){

   /* <----------------CONTACTS(1440)---------------------> */  


   .contacts-block-flex{
    max-width: 1070px;
    justify-content: space-between;
    margin: auto;
   }

  

   .contacts-title{
    width: 1060px;
    font-size: 35px;
    margin:0 auto 30px auto;
    }

    .contacts-block-form-title,
    .contacts-block-numbers-title{
        font-size: 20px;
    }


    .contacts-block-numbers-list{
        line-height: 48px;
    }

    .contacts-block-numbers-list li{
        font-size: 23px;
    }


    .contacts-form-name::placeholder,
    .contacts-form-email::placeholder,
    .contacts-form-phone::placeholder,
    .contacts-form-text::placeholder{
        font-size: 18px;
    }

   /* <----------------IDEA(1440)---------------------> */  


    .idea-block{
        max-width: 1070px;
        margin: 30px auto;
    }


    .idea-block-flex{
        padding:  0 30px;
    }

   /* <----------------FOOTER(1440)---------------------> */  


   .footer-bottom{
    padding: 30px 0;
   }


   .footer-bottom-nav-map{
    width: 550px;
   }
   .footer-nav-map-text{
    width: 100%;
    text-align: center;
   }
}

.loading-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222222;
  padding: 20px;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #494949;
  border-radius: 50%;
  border-top-color: #24B8AF;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  color: #24B8AF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.error-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222222;
  padding: 20px;
}

.error-text {
  color: #ff6b6b;
  font-family: 'Montserrat', sans-serif
}


