*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 2100px;
}

.header-block {
  padding: 25px 0 0 0;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(-45deg, #2a7f6a, #212121, #212121, #2a7f6a);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

#noise_sec {
  top: -1000px;
  width: 100%;
  height: 100vh;
  display: none;
}
#c {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  width: 100%;
}
.impress:before {
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  animation-name: line-move;
  transition-delay: 2s;
}

.impress:after,
.impress:before {
  animation-duration: 4s;
  transition-timing-function: ease-in;
  transition-duration: 2s;
  position: absolute;
  content: "";
}

.impress:after {
  background: #212121;
  width: 100%;
  height: 0%;
  bottom: 0;
  animation-name: back-move;
  transition-delay: 3s;
}
.impress canvas {
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
}

.impress canvas,
.loader-background-1,
.loader-background-2,
.noise {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.noise {
  z-index: 100;
  left: 0;
  height: 100%;
  pointer-events: none;
  opacity: 0.08;
}

@keyframes Gradient {
  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

canvas#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* <--------------------ANIMATION---------------------------> */

/* <----------------------HEADER-----------------------------> */

.header-block-flex,
.header-block-fixed {
  display: none;
}
/* <-----------HEADER-BLOCK-NAVBAR-------------> */

.header-block-navbar {
  position: relative;
  z-index: 999;
  background: #333;
  width: 100vw;
  padding: 15px 0 0 0;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-block-navbar-inner {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.header-block-navbar-logo img {
  max-width: 50px;
  height: 50px;
}

.header-block-navbar-other {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-navbar-other-lang {
  position: relative;
  width: 40px;
  font-family: ",Montserrat", sans-serif;
  font-weight: 600;
}

.dropdown-label {
  display: block;
  background-color: #4e4e4e;
  color: #24b8af;
  border-radius: 8px;
  padding: 5px 0;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}

.options-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #333333;
  border-radius: 12px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

.options-dropdown .option {
  padding: 8px 12px;
  color: #24b8af;
  text-align: center;
  cursor: pointer;
}

.options-dropdown .option:hover {
  background-color: #555;
}

.options-dropdown.show {
  max-height: 200px;
  opacity: 1;
  transform: scaleY(1);
}

.header-navbar-other-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-other-contact-location a,
.header-other-contact-email a,
.header-other-contact-phone a {
  color: #24b8af;
  font-size: 18px;
  text-decoration: none;
}

.header-navbar-menu input {
  display: none;
}

.header-navbar-menu label span {
  display: block;
  background: white;
  width: 23px;
  height: 2px;
}

.header-navbar-menu label span:nth-child(2) {
  margin-top: 5px;
}

.header-navbar-menu label span:nth-child(3) {
  margin-top: 6px;
}

.header-navbar-menu-list {
  position: fixed;
  width: 100%;
  height: 100vh;
  right: 200%;
  top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  list-style: none;
  transition: 0.5s all linear;
  background-color: rgba(33, 33, 33, 0.9);
}

.header-navbar-menu-list li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
  line-height: 40px;
}

.header-navbar-menu-input:checked ~ .header-navbar-menu-list {
  right: 0px;
}

/* <-----------HEADER-BLOCK-MAIN-------------> */

.header-block-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  padding: 0 15px;
}

.header-main-center-small {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.header-main-center-title {
  position: relative;
  max-width: 350px;
  margin: auto;
}

.header-main-center-title h1 {
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.header-main-center-title::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 30px;
  height: 4px;
  background: #24b8af;
  box-shadow: 0px 0px 5px 1px rgba(36, 184, 175, 0.6);
}
.header-main-center-title::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 30px;
  height: 4px;
  background: #24b8af;
  box-shadow: 0px 0px 5px 1px rgba(36, 184, 175, 0.6);
}
.header-main-center-light {
  position: relative;
}
.header-main-center-light::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  top: -17px;
  background: #24b8af;
  box-shadow: 0px 0px 5px 1px rgba(36, 184, 175, 0.3);
}
.header-main-center-light p {
  font-family: "Montserrat", sans-serif;
  color: #24b8af;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
  animation: textShadowBlink 1.5s infinite;
}

@keyframes textShadowBlink {
  0%,
  100% {
    text-shadow: 0px 0px 10px rgba(3, 103, 97, 1),
      0px 0px 20px rgba(3, 103, 97, 0.8), 0px 0px 30px rgba(3, 103, 97, 0.6),
      0px 0px 40px rgba(3, 103, 97, 0.4);
  }
  50% {
    text-shadow: none;
  }
}

.header-main-center-text {
  max-width: 510px;
}
.header-main-center-text p {
  color: rgba(255, 255, 255, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 18.9px;
}

.header-main-center-text span {
  font-weight: 300;
  letter-spacing: 0.3px;
}

.header-main-center-btn {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  gap: 10px;
}

.header-main-center-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 14px;
  background: #24b8af !important;
  border: none !important;
  padding: 17px 0;
  width: 250px;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s all linear;
}

.header-main-center-btn a:hover {
  box-shadow: 0 0 15px #24b8af !important;
}

.scroll-downs {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* <----------------------ABOUT-----------------------------> */

.about {
  background: rgba(34, 34, 34, 1);
  padding: 50px 15px;
}

.about-block {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 40px 15px;
}
.about-block-title h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #24b8af;
}

.about-left,
.about-right {
  display: none;
}

.about-block-text {
  max-width: 580px;
  margin: auto;
}
.about-block-text p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 25px 0;
  text-align: center;
  line-height: 19px;
}

.about-block-text span {
  color: rgba(36, 184, 175, 1);
  font-weight: 700;
}

.about-block-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: #24b8af;
  font-family: "Outfit", sans-serif;
  animation: textShadowBlink 1.5s infinite;
}

.about-block-link svg {
  margin-top: 7px;
}

/*<---------------------SERVICES------------------------>  */

.services {
  background: rgba(34, 34, 34, 1);
  padding: 50px 15px;
}

.services-title h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #24b8af;
}

.services-block {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.services-block-inner {
  padding: 0 15px 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  max-width: 235px;
}

.services-block-inner h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.services-block-inner-logo {
  position: relative;
  display: inline-block;
  padding: 50px 0 20px 0;
}

.services-block-inner-logo::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 3px;
  background: #24b8af;
  box-shadow: 0px 0px 5px 1px rgba(36, 184, 175, 0.6);
}

.services-block-inner-text p {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-top: 50px;
  line-height: 22px;
  font-size: 15px;
  margin: 0;
}

/*<---------------------TECH------------------------>  */

.tech {
  background: rgba(34, 34, 34, 1);
}

.tech-block {
  padding: 50px 0px 0px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.tech-block-title {
  padding: 0 15px;
}

.tech-block-title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: #24b8af;
}

.tech-block-text p {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 30px auto;
  max-width: 450px;
  padding: 0 15px;
}

.tech-block-slider-slide {
  background: rgba(34, 34, 34, 1);
  border: 2px solid #404040;
  border-radius: 13px;
  width: 170px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-block-slider-slide img {
  width: 100px;
  height: auto;
  filter: grayscale(1);
  transition: 0.5s all linear;
}

.tech-block-slider-slide:hover img {
  filter: grayscale(0);
}

.tech-block-slider {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  gap: 10px;
  animation: slide-animation 20s infinite;
}

.tech-block-slider-slide {
  min-width: 200px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  font-size: 1.5em;
}

@keyframes slide-animation {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.tech-block-neon {
  max-height: 500px;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas#neon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

/* <----------------WORK---------------------> */

.work {
  background: #222222;
}

.work-block {
  padding: 50px 15px;
}

.work-block-title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  color: #24b8af;
}

.work-block-content {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.work-block-content-inner {
  border: 2px solid #404040;
  border-radius: 15px;
  max-width: 340px;
}

.work-block-content-inner:nth-child(n + 4) {
  display: none;
}

.work-content-inner-photo img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
}

.work-content-inner-text {
  padding: 10px;
}

.work-content-inner-text a {
  position: relative;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  left: 50px;
}

.work-content-inner-text a::before {
  position: absolute;
  content: "";
  background: white;
  width: 40px;
  height: 2px;
  left: -30px;
  top: 50%;
  transform: translateX(-50%);
}

.work-content-inner-text p {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 7px 0;
}

.work-block-content-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 15px;
  background: #212121;
  border: 1px solid #404040;
  margin: 40px auto 0 auto;
  height: 50px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  width: 180px;
  border-radius: 15px;
}

.work-block-content-link span {
  background-color: #4e4e4e;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 50%;
}

/* <----------------CLIENT---------------------> */

.client {
  padding: 50px 15px;
  background: #222222;
}

.client-title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  color: #24b8af;
}

.client-block {
  padding: 30px 0;
}

.client-block-video {
  position: relative;
}

.client-block-video img {
  width: 280px;
  height: 170px;
  border-radius: 10px;
  margin: auto;
}

.slick-prev {
  position: absolute;
  left: 25px;
}
.slick-prev::before,
.slick-prev::after {
  display: none;
}

.slick-next {
  position: absolute;
  right: 25px;
}

.slick-next::before,
.slick-next::after {
  display: none;
}

.client-block-video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(3, 103, 97, 0.6);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-block-video-btn span {
  background: rgba(36, 184, 175, 1);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <----------------PARTNER---------------------> */

.partner {
  background: #222222;
  padding: 50px 15px;
}

.partner-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  color: #24b8af;
}

.partner-block {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  gap: 20px;
  padding: 15px;
}

.partner-block-group {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.partner-block-group div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.partner-block-group-banner {
  width: 145px !important;
  height: 120px;
  padding: 10px 0;
  background: #393939;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.partner-block-group-banner img {
  max-width: 100px;
  height: auto;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2a2a2a;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ccc #2a2a2a;
}

/* <----------------IDEA---------------------> */

.idea {
  background: #222222;
  padding: 0 10px 50px 10px;
}

.idea-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: #24b8af;
  text-align: center;
}

.idea-title h1 {
  margin: 0;
}

.idea-block {
  margin: 30px 0;
  padding: 20px 0px;
  background-color: #494949;
  border-radius: 15px;
}
.idea-block-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.idea-block-flex-email,
.idea-block-flex-numbers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.idea-block-flex-email a,
.idea-block-flex-numbers a {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.idea-block-flex-navi {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.idea-block-flex-navi button {
  width: 180px;
  height: 50px;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-radius: 12px;
  transition: 0.3s all linear;
}

.idea-block-flex-navi button:nth-child(1) {
  background: #24b8af;
}
.idea-block-flex-navi button:nth-child(1):hover {
  box-shadow: 0 0 10px #24b8af !important;
}

.idea-block-flex-navi button:nth-child(2) {
  background: #222222;
}

.idea-block-flex-navi button:nth-child(2):hover {
  box-shadow: 0 0 10px #fff !important;
}

/*<---------------------FOOTER------------------------>  */

.footer {
  background: #292929;
}

.footer .container {
  padding: 0 15px;
}

.footer-block {
  padding: 30px 10px;
}

.footer-block-social-list {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.footer-block-links {
  margin: 30px 0;
  padding: 0 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.footer-block-links-list {
  list-style: none;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.footer-block-links-list a {
  color: #939393;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s all linear;
}

.footer-block-links-list a:hover {
  color: #24b8af;
}

.footer-block-social-list a svg {
  transform: scale(1);
  transition: 0.5s all linear;
}
.footer-block-social-list a:hover svg {
  transform: scale(1.1);
}

.footer-block-social-list a svg path {
  transition: 0.5s all linear;
}
.footer-block-social-list a:hover svg path {
  fill: #2a7f6a;
}

.footer-down {
  background: #333333;
}

.footer-bottom {
  padding: 20px 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
}

.footer-bottom-name {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.footer-bottom-nav-map {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  width: 300px;
  background: #494949;
  border-radius: 8px;
  height: 40px;
  align-items: center;
  gap: 5px;
}

.footer-nav-map-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #24b8af;
  text-decoration: none;
  background: #222222;
  border-radius: 8px;
  width: 32px;
  height: 32px;
}

.footer-nav-map-text {
  color: #939393;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  width: 170px;
}

.footer-nav-map-text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.footer-nav-map-link {
  background: #222222;
  height: 32px;
  width: 100px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.footer-nav-map-link a {
  color: #24b8af;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .header-main-center-title h1 {
    font-size: 45px;
  }
  .header-main-center-title::before,
  .header-main-center-title::after {
    width: 50px;
  }

  .header-main-center-light p {
    padding: 20px 0;
  }

  /* <----------------ABOUT(768)-----------------> */
  .about-block {
    max-width: 600px;
    margin: auto;
  }

  /* <----------------TECH(768)-----------------> */

  .tech-block-neon {
    height: 350px;
  }

  /* <----------------PARTNER(768)-----------------> */

  .partner-block-group-banner {
    padding: 30px 0;
  }

  /* <----------------IDEA(768)-----------------> */

  .idea-block-flex {
    padding: 0 15px;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  /* <----------------FOOTER(768)-----------------> */

  .footer-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    padding: 30px 0;
  }

  .footer-block-social-list {
    padding: 0;
  }

  .footer-block-links {
    flex-direction: row;
    margin: 0;
  }

  .footer-bottom {
    flex-direction: row;
    padding: 25px 30px;
    justify-content: space-between;
  }
  .footer-bottom-nav-map {
    width: 400px;
  }
  .footer-nav-map-text {
    width: 250px;
  }
}

@media only screen and (min-width: 1024px) {
  /* <------------------HEADER------------------------------> */

  /* <--------HEADER-FIXED(FLEX)------------> */
  .header-block-flex,
  .header-block-fixed {
    display: block;
  }

  .header-block-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-block-flex-logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 10px 20px;
    margin-left: 71px;
    transition: background 0.5s ease-in-out;
  }

  .header-block-flex-logo a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .header-block-flex-logo img {
    width: 60px;
    height: 60px;
  }

  .header-block-flex-logo p {
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 600;
  }

  .header-block-flex-number {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: 80px;
    padding: 10px 20px;
    transition: background 0.5s ease-in-out;
  }
  .header-block-flex-number a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  .header-block-fixed {
    position: fixed;
    left: 0;
    height: 100vh;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background: none;
    transition: background 0.5s ease-in-out;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header-fixed-menu-input {
    display: none;
  }

  .header-block-fixed-menu label span {
    display: block;
    width: 25px;
    margin: auto;
    height: 2px;
    background: white;
  }

  .header-block-fixed-menu label p {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }

  .header-fixed-menu-link {
    position: absolute;
    rotate: -90deg;
    bottom: 70px;
    left: 0;
    width: 100%;
  }
  .header-fixed-menu-link a {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
  }

  .header-block-fixed-menu label span:nth-child(2) {
    margin-top: 6px;
  }

  .header-block-fixed-menu label span:nth-child(3) {
    margin-top: 6px;
  }

  .header-fixed-menu-list {
    position: fixed;
    background: rgba(33, 33, 33, 0.9);
    width: 20%;
    height: 100%;
    left: -100%;
    top: 0;
    margin: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    list-style: none;
    transition: 0.5s ease-in-out;
  }

  .header-fixed-menu-list a {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
    line-height: 50px;
    transition: 0.5s ease-in-out;
  }
  .header-fixed-menu-list a::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background: white;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  .header-fixed-menu-list a:hover {
    padding-left: 15px;
  }

  .header-fixed-menu-list a:hover::before {
    opacity: 1;
  }

  .header-fixed-menu-input:checked ~ .header-fixed-menu-list {
    left: 71px;
  }

  .header-block-right-content {
    position: fixed;
    transition: background 0.5s ease-in-out;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header-right-content-lang,
  .header-right-content-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header-right-content-lang a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    transition: 0.5s all linear;
  }

  .header-right-content-social a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s all linear;
  }

  .header-right-content-lang a:hover,
  .header-right-content-social a:hover {
    color: #24b8af !important;
    transform: scale(1.2);
  }

  .header-right-content-email {
    margin-top: 20px;
    padding: 20px;
    transition: 0.3s all linear;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .header-right-content-email:hover {
    background: #333;
  }
  .header-right-content-email:hover svg {
    fill: #24b8af !important;
  }

  .header-right-content-email svg {
    width: 40px;
    height: auto;
    fill: white;
    transition: 0.3s all linear;
  }

  /* <--------HEADER-NAVBAR------------> */
  .header-block-navbar {
    display: none;
  }

  /* <--------HEADER-MAIN------------> */

  .header-main-center-title {
    max-width: 400px;
  }

  .header-main-center-title h1 {
    font-size: 50px;
  }
  .header-main-center-title::before,
  .header-main-center-title::after {
    width: 50px;
  }

  .header-main-center-text {
    max-width: 550px;
  }
  .header-main-center-text p {
    line-height: 22px;
  }

  /* <-----------------ABOUT(1024)----------------------> */
  .about {
    padding: 50px 0;
  }
  .about-side {
    position: relative;
    max-width: 2100px;
    margin: auto;
  }

  .about-block {
    max-width: 1160px;
    margin: auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-left {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .about-right {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  /* <-----------------TECH(1024)----------------------> */

  .tech-block-slider {
    animation: none;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
  }

  .tech-block-neon {
    height: 450px;
  }

  /* <---------------------WORK(1024)-----------------------> */

  .work-block-content {
    max-width: 1300px;
    margin: 50px auto 0 auto;
  }

  .work-block-content-inner:nth-child(n + 4) {
    display: block;
  }
  .work-block-content-inner {
    max-width: 320px;
  }

  .work-content-inner-text p {
    font-size: 15px;
  }

  /* <----------------CLIENT(1024)---------------------> */

  .client-block {
    max-width: 1300px;
    margin: auto;
  }

  .client-block-video {
    width: 265px;
  }

  /* <----------------PARTNER(1024)---------------------> */

  .partner-title {
    margin-bottom: 40px;
  }

  .partner-block {
    overflow: unset;
  }

  .partner-block-group {
    flex-direction: column;
  }

  .partner-block-group-banner {
    width: 145px !important;
    height: 95px;
  }

  /* <----------------IDEA(1024)---------------------> */

  .idea-block {
    max-width: 1160px;
    margin: 30px auto;
  }

  /* <----------------FOOTER(1024)---------------------> */

  .footer-block {
    max-width: 1070px;
    margin: auto;
    justify-content: space-between;
  }

  .footer-block-links {
    padding: 0;
    gap: 60px;
  }

  .footer-bottom {
    max-width: 1070px;
    margin: auto;
    padding: 25px 15px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-main-center-title {
    max-width: 500px;
  }

  .header-main-center-title h1 {
    font-size: 65px;
    font-weight: 700;
  }

  .header-main-center-title::before {
    width: 60px;
    left: -10px;
  }
  .header-main-center-title::after {
    width: 60px;
    right: -10px;
  }

  .header-main-center-text {
    max-width: 700px;
  }

  .header-main-center-text p {
    font-size: 18px;
    line-height: 25px;
  }

  /* <----------------TECH(1440)-----------------> */

  .tech-block-neon {
    max-height: 600px;
    height: 558px;
  }

  /* <-----------------SERVICES-------------------> */

  .services-title {
    margin-bottom: 40px;
  }

  .services-block {
    justify-content: center;
  }

  .services-block-inner {
    position: relative;
    margin: 0;
    max-width: 300px;
    overflow: hidden;
  }
  .services-block-inner:hover h2 {
    transition: all 0.5s ease-in-out;
  }

  .services-block-inner::before {
    content: "";
    position: absolute;
    background-color: #24b8af;
    transition: all 0.5s ease-in-out;
    height: 100%;
    width: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleY(0.5);
    opacity: 0;
  }
  .services-block-inner::after {
    content: "";
    position: absolute;
    background-color: #24b8af;
    transition: all 0.5s ease-in-out;
    height: 100%;
    width: 2px;
    top: 0;
    right: 50%;
    transform: translateX(-50%) scaleY(0.5);
    opacity: 0;
  }
  .services-block-inner:hover::before {
    left: 0;
    opacity: 1;
    transform: translateX(0%) scaleY(1);
  }
  .services-block-inner:hover::after {
    right: 0;
    opacity: 1;
    transform: translateX(0%) scaleY(1);
  }

  .services-block-inner:hover h2 {
    color: #24b8af;
  }

  /* <-----------------PARTNER-------------------> */

  .partner-block-group-banner {
    width: 180px !important;
  }

  /* <-----------------FOTOTER-------------------> */

  .footer-bottom {
    padding: 25px 0;
  }
}
